/* Tailwind base styles, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Root variables for theming */

img {
    max-width: 100%;
    height: auto;
}

@layer base {
    body {
        padding: env(safe-area-inset);
    }
}

.swiper-slide {
    height: 400px;
    /* Adjust as per your panoramic view size */
}

body {
    background-color: #f7f7f7;
    /* Light grey background */
    color: #333;
    /* Default text color (optional) */
}